{% extends "base.html" %}

{% block title %}{{ article.title|striptags }}{% endblock %}

{% block content %}

  <header>
    {% if article.metadata['image'] %}
      <img src="{{ SITEURL }}/{{ article.metadata['image']}}" />
    {% endif %}
    <div class="title">
      <h1>{{ article.title }}</h1>
      {% if article.tags %}
        <ul>
          {% for tag in article.tags %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </header>

<section class="recipe">
  <aside>
    <ul>
      {% for ingredient in article.metadata['ingredients'].split(';') %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
  </aside>
  <article>
    {{ article.content }}
  </article>
</section>
{% endblock %}
