{% extends "base.html" %}
{% block content %}
{% block headline %}{% endblock %}
<div id="posts-list">
    {% for article in articles_page.object_list %}
        <a href="{{ SITEURL }}/{{ article.url }}">
            {% if article.metadata['image'] %}
                <img src="{{ SITEURL }}/{{ article.metadata['image']}}" />
            {% else %}
                <div class="img-placeholder"></div>
            {% endif %}

            <h1>{{ article.title }}</h1>

            {{ article.summary|default("<p></p>", true) }}

            {% if article.tags %}
                <i>
                    {% for tag in article.tags %}{{ tag | escape }}{% if not loop.last %},{% endif %} {% endfor %}
                </i>
            {% endif %}

        </a>
    {% endfor %}
</div>

{% endblock content %}
