{% extends "base.html" %}
{% block content %}

<section>
    <ul id="posts-list">
    {% for article in articles_page.object_list %}
        <li>
            <a href="{{ SITEURL }}/{{ article.url }}">
            <div>

                <h1>{{ article.title }}</h1>

                <span>{{ article.summary }}</span>

                {% if article.tags %}
                    <i>
                        {% for tag in article.tags %}{{ tag | escape }}{% if not loop.last %},{% endif %} {% endfor %}
                    </i>
                {% endif %}

            </div>
            {% if article.metadata['image'] %}
                <img src="{{ article.metadata['image']}}" />
            {% endif %}
            </a>

        </li>
    {% endfor %}
    </ul>
</section>

{% endblock content %}
