/* Imports */
@import url("reset.css");

/***** Global *****/
/* Body */
body {
    background: #dee8f2;
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Headings */
h1 {
	font-size: 2em;
	text-transform: uppercase;
}
h2 {font-size: 1.571em}	/* 22px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
    font-family: Helvetica, Verdana;
}

h3, h4, h5, h6 { margin-top: .8em; }

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
a:link, a:visited {
	color: inherit;
	text-decoration: underline;
}
a:hover, a:active {
	color: #999;
	text-decoration: none;
}

/* Paragraphs */
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 0em 0 0 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li { margin-top: 0.5em;
     margin-bottom: 1em; }

/* Main Nav */
nav {
	background: #1f5473;
	color: white;
	font-size: 1.143em;
	overflow: auto;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
}
    nav ul {
        list-style: none;
        margin: 0 auto;
        max-width: 1500px;
    }
    nav li {
        float: left;
        display: inline;
        margin: 0;
    }
    nav a:link, nav a:visited {
        color: white;
        display: inline-block;
        height: 30px;
        padding: 5px 1.5em;
        text-decoration: none;
    }
    nav a:hover, nav a:active,
    nav .active a:link, nav .active a:visited {
        background: #112e40;
        color: #fff;
        text-shadow: none !important;
    }

section {
	max-width: 1120px;
	margin: 0 auto;
}

.tag-list-header {
    margin: 10px;
}

header {
    width: 100%;
    min-height: 120px;
    position: relative;
    background-color: #338abf;
}
    header img {
        width: 100%;
        height: 30vh;
        max-height: 300px;
        object-fit: cover;
        object-position: 50% 50%;
        display: block;
    }

    header .title {
        background-color: #b0313c;
        padding: 10px;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        width: 80vw;
        max-width: 600px;
        margin: auto;
        border-radius: 15px;
        color: white;
        text-align: center;
        font-style: italic;
    }

    header .title ul {
        list-style: none;
        margin: 0;
    }

    header .title ul li {
        display: inline;
        padding: 0 5px;
    }

    header .title ul li a {
        color: white;
    }
    @media only screen and (max-width: 1100px) {
        header .title h1 {
            font-size: 1.8em;
        }
    }
    @media only screen and (max-width: 800px) {
        header .title h1 {
            font-size: 1.6em;
        }
    }

section.recipe {
    display: flex;
    padding-top: 30px;
}
    section.recipe aside {
        min-width: 250px;
        padding: 0 0 0 30px;
        border-right: #1f5473 solid 1px;
    }
    section.recipe aside dl {
        padding: 5px 10px;
        display: flex;
        flex-wrap: wrap;
    }
    section.recipe aside dl:first-of-type::before {
        content: "";
        border-top: #1f5473 solid 1px;
        width: 80%;
        display: block;
        margin: auto;
        padding: 0 0 10px 0;
    }
    section.recipe aside dt {
        font-weight: bold;
        min-width: 35%;
    }
    section.recipe aside dd {
        min-width: 40%;
        flex-grow: 1;
    }
    section.recipe article {
        padding: 0 30px 0 60px;
        counter-reset: paragraph;
        max-width: 700px;
    }
    section.recipe article > p::before {
        counter-increment: paragraph;
        content: counter(paragraph) ". ";
        position: absolute;
        left: -30px;
        color: #1f5473;
    }
    section.recipe article > p {
        position: relative;
    }
    section.recipe article > i > p {
        position: relative;
        left: -30px;
    }
    section.recipe article h3 {
        position: relative;
        left: -30px;
    }
    @media only screen and (max-width: 1100px) {
    }
    @media only screen and (max-width: 800px) {
        section.recipe {
            flex-direction: column;
        }
        section.recipe aside {
            border-right-width: 0;
            border-bottom: #1f5473 solid 1px;
            padding-left: 15vw;
        }
    }

#posts-list {
    padding: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
    #posts-list a {
        width: 13%;
        margin-bottom: 10px;
        border: #cbcbcb solid 1px;
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        background-color: #e9f3ff;
    }
    #posts-list a:hover {
        color: inherit;
    }
    #posts-list a:hover h1 {
        color: #b0313c;
    }
    #posts-list a > *:first-child {
        height: 200px;
    }
    #posts-list img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
    #posts-list .img-placeholder {
        background-color: #338abf;
    }
    #posts-list h1 {
        font-size: 1.3em;
        padding: 10px;
    }
    #posts-list i {
        text-align: right;
        padding: 0 10px 10px 0;
    }
    #posts-list p {
        flex-grow: 1;
        padding: 0 10px;
        margin: 0;
    }
    @media only screen and (max-width: 1900px) {
        #posts-list a {
            width: 15.5%;
        }
    }
    @media only screen and (max-width: 1600px) {
        #posts-list a {
            width: 19%;
        }
    }
    @media only screen and (max-width: 1300px) {
        #posts-list a {
            width: 24%;
        }
    }
    @media only screen and (max-width: 1100px) {
        #posts-list a {
            width: 32%;
        }
    }
    @media only screen and (max-width: 800px) {
        #posts-list a {
            width: 48%;
        }
    }

#search-box {
    border: black solid 1px;
    font-size: 18px;
    padding: 3px;
    border-radius: 3px;
    margin-top: 5px;
}

#search-results {
    display: none;
    position: fixed;
    right: 0;
    width: 400px;
    top: 40px;
    bottom: 0;
    background-color: #396f8e;
    z-index: 999;
    list-style: none;
    box-shadow: -5px 0px 10px -5px #222;
}
    #search-results li {
        margin: 0;
    }
    #search-results li > * {
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px;
    }
    #search-results li a {
        color: white;
        text-decoration: none;
    }
    #search-results li a:hover {
        background-color: white;
        color: #396f8e;
    }
